@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    /* < 1280 => mobile view */
    @apply max-w-none px-4;
    /* >= 1280 => desktop view */
    @apply xl:max-w-[1170px] xl:px-0;
    @apply transition-all ease-in-out;
}

.main.active {
    @apply md:w-full md:ml-0;
}
.font-great{
    font-family: "Great Vibes", cursive;
}

body{
    color: #000000DE;
    font-size: 14px;
}

html{
    font-family: "Poppins", sans-serif;
}

.header .nav:hover span{
    transform: translateY(-6px);
}
.item-menu:hover .navbar{
    display: block;
}
.cart-dgnl:hover .text-title{
    color: #FF792F;
}

.bg-custom_1{
    background: linear-gradient(180deg, #ffdb5e 32.29%, #e99a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.list_exam:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #FF792F;
    left: 50%;
    z-index: 2;
}
.list_exam:after{
    content: "";
    position: absolute;
    width: 15px;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid #d0d6e1;
}

.line-list-question:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 70%;
    height: 8px;
    background : #ddd;
    border-radius: 50px;
}
.scroll-w-none{
    scrollbar-width: none;
}

